.layout-auth {
  display: grid;
  grid-template-columns: 3fr 2fr;
  place-content: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  background-color: var(--color-fondo);
  color: var(--color-texto);
}

.logo {
  color: var(--azul-logo);
  display: flex;
  /*flex-direction: column;*/
  width: max-content;
  align-items: center;

  h1 {
    font-size: var(--texto-g);
    color: var(--color-blanco-puro);
    font-weight: 600;
  }

  svg {
    width: 3rem;
    height: 3rem;
    fill: var(--azul-logo);
  }

  &:hover {
    color: var(--azul-logo-claro);
  }
}

.auth-fondo {
  width: 100%;
  height: 100vh;
  background-color: var(--azul-logo);
  /*background-color: var(--color-fondo);*/

  --color-linea: color-mix(in srgb, var(--color-blanco) 10%, transparent);
  background-image:
    linear-gradient(var(--color-linea) 1px, transparent 1px),
    linear-gradient(90deg, var(--color-linea) 1px, transparent 1px);
  background-size: 32px 32px;
  /*background-image: radial-gradient(var(--color-linea) 1px, transparent 1px);*/
  /*background-size: 24px 24px;*/
  padding: 3rem;
}

.auth-form {
  display: flex;
  margin-inline: auto;
  flex-direction: column;
  padding: 3rem;
  width: 100%;
  min-width: 50ch;
  row-gap: 1.5rem;
  /*background-color: var(--azul-logo);*/

  form {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }

  form > div {
    position: relative;
    /*margin: 1rem 0;*/
  }

  h1 {
    font-size: var(--texto-xl);
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
}

.layout-auth > div {
  label {
    font-size: var(--texto-s);
    color: var(--color-texto-secundario);
    font-weight: 600;
  }
}

.auth-input-group {
  color: var(--color-texto-secundario);
  position: relative;

  & > div {
    position: relative;
    width: 100%;

    svg {
      position: absolute;
      left: 12px;
      top: 10px;
    }
  }

  .contrasena-olvidada {
    position: absolute;
    top: 0;
    right: 0;

    color: var(--color-texto-secundario);
    text-decoration: none;

    &:hover {
      color: var(--azul-logo);
      text-decoration: underline;
    }
  }
}

.auth-input-group input {
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  height: 40px;
  border: 1px solid var(--color-borde);
  border-radius: 5px;
  margin-top: 0;

  &:hover,
  &:focus {
    border-color: var(--color-borde-hover);
  }
}

.contenedor-otras-opciones {
  display: flex;
  flex-direction: column;
  row-gap: 0.75rem;
  margin: 0;
}

.gsi-material-button-icon,
.icono-github {
  height: 20px;
  margin-right: 12px;
  min-width: 20px;
  width: 20px;
}

.separador-login {
  font-size: var(--texto-xs);
  color: var(--color-texto-secundario);
  text-align: center;
  /*margin-block: 1rem;*/

  /*& > div {
        margin-block: 0.5rem;
        height: 1px;
        width: 100%;
        background-color: var(--color-borde-hover);
    }*/
}

.boton-toggle-contrasena {
  background: none;
  /*border: 1px solid black;*/
  border: none;
  position: absolute;
  width: 2.25rem;
  height: 2.25rem;
  right: 4px;
  top: 10px;
  cursor: pointer;

  &:hover {
    color: var(--azul-logo);
  }

  svg {
    display: block;
    position: absolute;
    pointer-events: none;
    width: 1.35rem;
    height: 1.35rem;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &.activo {
      display: none;
      visibility: hidden;
    }
  }
}

.auth-titulo {
  h1 {
    font-size: var(--texto-xl);
  }

  p {
    font-size: var(--texto-m);
    color: var(--color-texto-secundario);
  }
}

.separador-registro {
  display: flex;
  align-items: center;

  & > * {
    flex: 1;
  }

  span {
    text-align: center;
    color: var(--color-texto-secundario);
  }
}
