/* importa fuente nunito */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

/* importa fuente roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

/* ::view-transition-old(root) {
    animation-delay: 500ms;
}

::view-transition-new(root) {
    animation: circle-in 500ms ease-out;
}

@keyframes circle-in {
    from { clip-path: circle(0% at var(--x) var(--y)); }
    to { clip-path: circle(130% at var(--x) var(--y)); }
} */

::view-transition-group(root) {
  animation-duration: 0.7s;
  animation-timing-function: var(--expo-out);
}
      
::view-transition-new(root) {
  animation-name: reveal-light;
  animation-fill-mode: both;
}

::view-transition-old(root),
.tema-oscuro::view-transition-old(root) {
  animation: none;
  animation-fill-mode: both;
  z-index: -1;
}
.tema-oscuro::view-transition-new(root) {
  animation-name: reveal-dark;
  animation-fill-mode: both;
}

@keyframes reveal-dark {
  from {
    clip-path: polygon(50% -71%, -50% 71%, -50% 71%, 50% -71%);
  }
  to {
    clip-path: polygon(50% -71%, -50% 71%, 50% 171%, 171% 50%);
  }
}

@keyframes reveal-light {
  from {
    clip-path: polygon(171% 50%, 50% 171%, 50% 171%, 171% 50%);
  }
  to {
    clip-path: polygon(171% 50%, 50% 171%, -50% 71%, 50% -71%);
  }
}

:root {
    --x: 0px;
    --y: 0px;
    
    --azul-logo: hsl(225, 75%, 59%);
    --azul-logo-oscuro: hsl(225, 35%, 18%);
    --azul-logo-claro: hsl(225, 82%, 75%);
    --azul-transparente: hsla(225, 85%, 89%, 0.25);
    --color-fondo: hsl(221, 17%, 98%);

    --color-texto: hsl(221, 10%, 15%);
    --color-texto-secundario: hsl(221, 14%, 40%);

    --color-card: white;
    --color-borde: hsl(221, 14%, 89%);
    --color-borde-hover: hsl(221, 14%, 85%);
    --color-header: hsl(221, 17%, 98%, 0.7);
    /* --color-footer: hsl(243, 35%, 18%); */
    --color-footer: hsl(243, 35%, 6%);

    --color-consola: hsl(216, 28%, 7%);
    --color-consola-input: hsl(221, 15%, 12%);
    --color-consola-input-borde: hsl(221, 14%, 22%);
    --color-consola-enviar: var(--gris-400);

    --color-blanco: hsl(221, 17%, 98%);
    --color-blanco-puro: #ffffff;           
    --color-superficie: hsl(221, 17%, 95%);
    --color-superficie-2: hsl(221, 17%, 93%);
    --color-superficie-hover: hsl(221, 17%, 90%);

    --svg-trazo-1: var(--gris-700); 
    --svg-trazo-2: var(--gris-600); 
    --svg-trazo-3: var(--gris-300);

    --tarjeta-fondo-1: hsl(221, 34%, 98%);
    --tarjeta-fondo-2: hsl(221, 25%, 99%);

    --gris-100: hsl(221, 17%, 97%);
    --gris-200: hsl(221, 16%, 91%);
    --gris-300: hsl(221, 15%, 86%);
    --gris-400: hsl(221, 14%, 72%);
    --gris-500: hsl(221, 12%, 63%);
    --gris-600: hsl(221, 10%, 50%);
    --gris-700: hsl(221, 10%, 37%);
    --gris-800: hsl(221, 10%, 31%);
    --gris-900: hsl(221, 11%, 20%);

    --color-rojo-400: hsl(359, 100%, 70%);
    --color-rojo-500: hsl(357, 98%, 63%);
    --color-rojo-600: hsl(357, 96%, 58%);
    --color-naranja-500: hsl(25, 100%, 50%);
    --color-naranja-600: hsl(18, 100%, 48%);
    --color-amarillo-400: hsl(47, 100%, 50%);
    --color-amarillo-500: hsl(44, 100%, 47%);
    --color-amarillo-600: hsl(39, 100%, 41%);
    --color-verde-500: hsl(144, 100%, 39%);
    --color-verde-600: hsl(142, 100%, 33%);
    --color-azul-400: hsl(212, 100%, 66%);
    --color-azul-500: hsl(216, 100%, 58%);
    --color-azul-600: hsl(221, 97%, 53%);
    --color-violeta-500: hsl(273, 100%, 64%);
    --color-violeta-600: hsl(275, 96%, 52%);
}

:root.tema-oscuro {
    --azul-logo: hsl(225, 75%, 65%);
    --azul-logo-oscuro: hsl(225, 40%, 75%);
    --azul-logo-claro: hsl(225, 79%, 70%);
    --azul-transparente: hsla(225, 38%, 44%, 0.25);
    --color-fondo: hsl(221, 17%, 10%);

    --color-texto: hsl(221, 20%, 90%);
    --color-texto-secundario: hsl(221, 14%, 60%);

    --color-card: hsl(221, 15%, 14%);
    --color-borde: hsl(221, 14%, 22%);
    --color-borde-hover: hsl(221, 17%, 30%);
    --color-header: hsl(221, 17%, 10%, 0.7);

    --color-blanco: hsl(221, 15%, 14%);
    --color-blanco-puro: hsl(221, 15%, 18%);
    --color-superficie: hsl(221, 15%, 12%);
    --color-superficie-2: hsl(221, 15%, 11%);
    --color-superficie-hover: hsl(221, 15%, 15%);

    --svg-trazo-1: var(--gris-500); 
    --svg-trazo-2: var(--gris-600); 
    --svg-trazo-3: var(--gris-900); 

    --tarjeta-fondo-1: hsl(221, 17%, 13%);
    --tarjeta-fondo-2: hsl(221, 18%, 18%);
    --tarjeta-fondo-3: hsl(221, 20%, 23%);
}

@media (prefers-color-scheme: dark) {
    :root.tema-oscuro {
        --azul-logo: hsl(225, 75%, 65%);
        --azul-logo-oscuro: hsl(225, 40%, 75%);
        --azul-logo-claro: hsl(225, 79%, 70%);
        --azul-transparente: hsla(225, 38%, 44%, 0.25);
        --color-fondo: hsl(221, 17%, 10%);

        --color-texto: hsl(221, 20%, 90%);
        --color-texto-secundario: hsl(221, 14%, 60%);

        --color-card: hsl(221, 15%, 14%);
        --color-borde: hsl(221, 14%, 22%);
        --color-borde-hover: hsl(221, 17%, 30%);
        --color-header: hsl(221, 17%, 10%, 0.7);

        --color-blanco: hsl(221, 15%, 14%);
        --color-blanco-puro: hsl(221, 15%, 18%);
        --color-superficie: hsl(221, 17%, 12%);
        --color-superficie-2: hsl(221, 18%, 11%);
        --color-superficie-hover: hsl(221, 17%, 15%);

        --svg-trazo-1: var(--gris-500); 
        --svg-trazo-2: var(--gris-600); 
        --svg-trazo-3: var(--gris-900); 

        --tarjeta-fondo-1: hsl(221, 17%, 13%);
        --tarjeta-fondo-2: hsl(221, 18%, 18%);
        --tarjeta-fondo-3: hsl(221, 20%, 23%);
    }
}

.boton {
    display: flex;
    margin: 0;
    padding: 0.75rem 2rem;
    background: var(--color-fondo);
    color: var(--color-texto);
    border: none;
    /* border: 1px solid var(--color-letra); */
    border-radius: 5px;
    width: max-content;
    font-weight: bold;
    cursor: pointer;

    &:hover {
        background-color: var(--color-texto);
        color: var(--color-fondo);
        outline: 1px solid var(--color-fondo);
    }
}

.font-size-1 { font-size: 0.75rem; } 
.font-size-2 { font-size: 0.875rem; } 
.font-size-3 { font-size: 1rem; }
.font-size-4 { font-size: 1.25rem; }
.font-size-5 { font-size: 1.5rem; } 
.font-size-6 { font-size: 2rem; }
.font-size-7 { font-size: 2.5rem; } 
.font-size-8 { font-size: 4rem; }

.flex-align-items {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}

*, *::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

:where(textarea),
:where(input[type="text"],input[type="search"],input[type="password"],input[type="url"]){
  appearance: none;
  border-style: solid;
  outline: none;
}

body {
    background-color: var(--color-fondo);
    /* font-family: "Inter", sans-serif; */
    font-family: "Nunito Sans", sans-serif;
    /* font-family: "Roboto", sans-serif; */
    color: var(--color-texto)
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    color: white;
    background-color: var(--color-header);
    color: var(--color-texto);
    backdrop-filter: blur(5px);
    /* border-bottom: 1px solid hsla(0, 9%, 37%, 0.5); */
    /* box-shadow: 0 0 20px -1px var(--color-header); */
    z-index: 100;
    transition: background-color 250ms color 250ms;

    /* &.scrolled {
        background-color: var(--color-header);
        transition: background-color 250ms color 250ms;
        color: var(--color-texto);
    } */

    .contenedor-logo {
        position: relative;

        svg {
            width: 40px;
            height: 40px;
            color: var(--azul-logo);
        }
    }

    .contenedor-logo:hover::after {
        opacity: 0.3;
    }

    .contenedor-logo::after {
        content: "";
        position: absolute;
        inset: 0;
        background: white;
        opacity: 0;
        pointer-events: none;
    }
    
    .nombre-logo {
        font-size: 1.5rem;
        font-family: "Nunito Sans", sans-serif;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem clamp(1rem, 5vw, 4rem);
        max-width: 1500px;
        margin: 0 auto;
        height: 4rem;
        font-weight: bold;

        svg {
            width: 20px;
            height: 20px;
        }

        .botones-navegacion {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);

            a {
                padding: 0.35rem 0.75rem;
                border-radius: 5px;
                border: 1px solid transparent;
            }

            a:hover {
                /* background-color: var(--gris-200); */
                /* text-decoration: underline; */
                border-color: var(--gris-600);
            }
        }

        a {
            text-decoration: none;
        }

        & > * {
            display: flex;
            align-items: center;
            column-gap: 0.75rem;
        }

        .boton-panel, a[href="/registrarCliente"] {
            display: flex;
            align-items: center;
            column-gap: 0.5rem;
            background: none;
            border: 1px solid var(--azul-logo);
            color: var(--azul-logo);
            border-radius: 5px;
            padding: 0.35rem 0.5rem;
            font-weight: bold;
            cursor: pointer;

            &:hover {
                color: var(--azul-logo-claro);
                border-color: var(--azul-logo-claro);
            }
        }

        a[href="/registrarCliente"] {
            background: var(--azul-logo);
            color: white;   
        }
    }

    .boton-menu-usuario, a[href="/login"] {
        font-size: inherit;
        padding: 0.35rem 0.5rem;
        display: flex;
        align-items: center;
        column-gap: 0.5rem;
        background: none;
        border: 1px solid var(--color-texto);
        color: var(--color-texto);
        border-radius: 5px;
        font-weight: bold;
        cursor: pointer;

        &:hover {
            color: var(--gris-700);
            border-color: var(--gris-700)
        }
    }

    .menu-usuario {
        position: relative;
        
        .separador {
            display: block;
            width: 100%;
            height: 1px;
            border: 0;
            background-color: var(--color-borde);
            margin: 0.25rem 0;
        }

        .menu-dropdown {
            position: absolute;
            flex-direction: column;
            width: max-content;
            top: calc(100% + 0.5rem);
            right: 0;
            background: var(--color-card);
            border: 1px solid var(--color-borde);
            border-radius: 5px;
            padding: 0.5rem;

            &:not([hidden]) {
                display: flex;
            }

            a, #boton-cambiar-tema {
                display: flex;
                align-items: center;
                /* justify-content: space-between; */
                column-gap: 0.5rem;
                background: none;
                padding: 0.5rem;
                border: none;
                text-align: left;
                color: inherit;
                font-weight: bold;
                font-size: 0.9rem;
                border-radius: 5px;
                cursor: pointer;

                &:hover {
                    background-color: color-mix(in srgb, var(--color-card) 93%, black);
                    text-decoration: none;
                }
            }
        }
    }
}

footer {
    background-color: var(--color-footer);
    color: hsl(243, 30%, 88%);
    font-family: inherit;
  
    .footer-contenedor {
        max-width: 1500px;
        padding: 3rem;
        padding-top: 2rem;
        margin: 0 auto;
        display: flex;
        align-items: center;
        font-size: 1rem;
    }

    .footer-marca {
        display: flex;
        align-items: center;
        font-weight: bold;
        font-size: 1.5rem;
        width: max-content;

        svg {
            width: 2.5rem;
            height: 2.5rem;
            color: var(--color-footer);
            margin-right: 1rem;
        }
    }

    .footer-links {
        margin-left: auto;

        a {
            text-decoration: none;
            
            &:not(:nth-last-child(1)) {
                margin-right: 0.5rem;
            }
        }
    }

}