section {
    text-align: center;

    .contenedor > span {
        display: block;
        color: var(--color-texto);
        font-size: 3rem;
        font-family: "Jersey 10", sans-serif;
        font-style: normal;
    }

    .contenedor > p {
        color: var(--color-texto-secundario);
        font-size: 1.25rem;
        margin-bottom: 2rem;
    }
}

.seccion-presentacion {
    height: calc(85vh - 0rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    background-color: var(--azul-logo);

    .contenedor h1 {
        line-height: 4rem;
        color: white;
    }
    
    .contenedor p {
        margin: 2rem 0;
        color: white;
    }

    button {
        background: none;
        border: 1px solid white;
        margin: 0;
        color: white;

        &:hover {
            color: var(--azul-logo);
            background-color: white;
        }
    }
    
}

@keyframes scroll {
    from { transform: translateX(0); }
    to { transform: translateX(calc((18vw + 1.5rem) * -5)) }
}

.seccion-juegos {
    .carrusel-juegos {
        overflow: hidden;
        position: relative;

        &::before, &::after {
            background: linear-gradient(to right, var(--color-fondo) 0%,hsl(0, 0%, 95%, 0) 100%);
            content: "";
            height: 100%;
            position: absolute;
            width: 200px;
            z-index: 2;
            pointer-events: none;
        }
        
        &::after {
            right: 0;
            top: 0;
            transform: rotateZ(180deg);
        }

        &::before {
            left: 0;
            top: 0;
        }

        .slider {
            --velocidad: 20s;

            width: calc((18vw + 1.5rem) * 10);
            display: flex;
            column-gap: 1.5rem;
            animation: scroll var(--velocidad) linear infinite;
            animation-play-state: running;
        }

        .slider:hover {
            animation-play-state: paused;
        }

        .juego {
            width: 18vw;
            background-color: var(--color-card);
            border: 1px solid var(--color-borde);
            border-radius: 10px;
            overflow: hidden;
            text-align: start;

            h3 {
                color: var(--color-texto);
            }
            
            img {
                width: 100%;
                height: 25vh;
                object-fit: cover;
                object-position: top;
            }

            .informacion-juego {
                padding: 1rem;

                p {
                    color: var(--color-texto-secundario);
                }
            }
        }
    }
}

.seccion-planes {
    /* background-color: var(--azul-logo); */
    /* color: white; */

    .contenedor-planes {
        display: flex;
        justify-content: center;
        column-gap: 2rem;
        color: var(--color-texto);

        .plan {
            border: 1px solid var(--color-borde);
            background-color: var(--color-card);
            border-radius: 10px;
            padding: 2rem;
            width: 100%;
            text-align: start;

            button {
                border: 1px solid black;
                margin-inline: auto;
            }

            ul {
                margin: 1.5rem 0;
                list-style: none;

                li {
                    display: flex;
                    align-items: center;
                    column-gap: 0.25rem;
                }
            }
        }
    }

    .planes-adicionales {
        margin-top: 2rem;
        font-size: 1.25rem;

        span {
            /* font-weight: bold; */
            color: var(--color-texto);
        }

        p {
            color: var(--color-texto-secundario);
        }
    }
}

.seccion-features {
    .contenedor > span {
        margin-bottom: 2rem;
    }

    .contenedor-razones {
        --min-column-size: 300px;

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--min-column-size)), 1fr));
        gap: 1.5rem;
    }

    .bloque-razon {
        text-align: left;
        border: 1px solid var(--color-borde);
        background-color: var(--azul-logo);
        padding: 3rem;
        border-radius: 0.5rem;
        width: 100%;

        span {
            display: block;
            font-size: 1.25rem;
            font-weight: bold;
            margin-bottom: 0.5rem;
            color: white;
            /* color: var(--azul-logo); */
        }

        p {
            color: white;
            /* color: var(--color-texto-secundario); */
        }
    }
}



.tarjetas-tutorial {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.tarjeta {
    flex: 1 1 180px;
    padding: 1rem;
    border-radius: 8px;
    background: white;
    border: 1px solid var(--gris-300);
    text-align: left;

    p {
        color: var(--gris-600); 
    }
}

.cta-tutorial {
    display: flex;
    margin-top: 2rem;
    padding: 1rem;
    background-color: white;
    border: 1px solid var(--gris-300);
    justify-content: space-between;
    border-radius: 5px;
    align-items: center;
    width: 100%;

    div {
        text-align: left;
    }

    button {
        padding: 0.5rem 1rem;
        font-size: 1rem;
        background-color: var(--azul-logo);
        color: white;
        border: none;
        border-radius: 5px;
    }
}