html {
  background: linear-gradient(to bottom, var(--color-fondo) 50%, var(--color-footer) 50%);
  background-attachment: fixed;
}

main {
    > section { 
        width: 100%;
        padding-inline: 5rem clamp(1rem, 5vw, 4rem);
        padding-block: 4rem;
        padding-top: 2rem;
    }
}

.contenedor {
    max-width: 1400px;
    margin: 0 auto;
    width: 100%;
}

section {
    text-align: center;

    .contenedor > span {
        display: block;
        color: var(--color-texto);
        font-size: 2.5rem;
        font-family: "Silkscreen", sans-serif;
        font-style: normal;
        letter-spacing: -5px;
        font-weight: bold;
    }

    .contenedor > p {
        color: var(--color-texto-secundario);
        font-size: 1.25rem;
        margin-bottom: 3rem;
    }

    /* &:nth-child(2n) {
        background-color: var(--azul-logo);
        color: white;
    } */
}

.seccion-presentacion {
    height: calc(100vh - 4rem);
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 3rem;
    /* background-color: var(--azul-logo); */
    color: var(--color-texto);

    .contenedor h1 {
        line-height: 3.5rem;
        color: var(--azul-logo);
    }
    
    .contenedor p {
        margin-top: 1.5rem;
        margin-bottom: 1rem;
        color: var(--color-texto-secundario);
    }

    button {
        background: none;
        margin: 0;
        color: white;
        /* color: var(--color-fondo); */
        border: 1px solid var(--azul-logo);
        background-color: var(--azul-logo);

        &:hover {
            background-color: var(--azul-logo-claro);
            color: white;
        }
    }
    
    .contenedor > svg {
        display: block;
        margin-left: auto;
        margin-top: -10%;
        /* width: 600px; */
        /* height: 600px; */
    }
}

@keyframes scroll {
    from { transform: translateX(0); }
    to { transform: translateX(calc((18vw + 1.5rem) * -5)) }
}

.seccion-juegos {
    .carrusel-juegos {
        overflow: hidden;
        position: relative;

        &::before, &::after {
            background: linear-gradient(to right, var(--color-fondo) 0%,hsl(0, 0%, 95%, 0) 100%);
            content: "";
            height: 100%;
            position: absolute;
            width: 200px;
            z-index: 2;
            pointer-events: none;
        }
        
        &::after {
            right: 0;
            top: 0;
            transform: rotateZ(180deg);
        }

        &::before {
            left: 0;
            top: 0;
        }

        .slider {
            --velocidad: 20s;

            width: calc((18vw + 1.5rem) * 10);
            display: flex;
            column-gap: 1.5rem;
            animation: scroll var(--velocidad) linear infinite;
            animation-play-state: running;
        }

        .slider:hover {
            animation-play-state: paused;
        }

        .juego {
            width: 18vw;
            background-color: var(--color-card);
            border: 1px solid var(--color-borde);
            border-radius: 10px;
            overflow: hidden;
            text-align: start;

            h3 {
                color: var(--color-texto);
            }
            
            img {
                width: 100%;
                height: 25vh;
                object-fit: cover;
                object-position: top;
            }

            .informacion-juego {
                padding: 1rem;

                p {
                    color: var(--color-texto-secundario);
                }
            }
        }
    }
}

.seccion-planes {
    .contenedor-planes {
        display: flex;
        justify-content: center;
        column-gap: 2rem;
        color: var(--color-texto);

        .plan {
            border: 1px solid var(--color-borde);
            background-color: var(--color-card);
            border-radius: 5px;
            padding: 2rem;
            width: 100%;
            text-align: start;

            svg {
                width: 32px;
                height: 32px;
            }

            button {
                border: 1px solid black;
                margin-inline: auto;
                margin-top: 3rem;
            }

            ul {
                margin: 1.5rem 0;
                list-style: none;

                li {
                    display: flex;
                    align-items: center;
                    column-gap: 0.25rem;
                }
            }
        }
    }

    .planes-adicionales {
        margin-top: 2rem;
        font-size: 1.25rem;

        span {
            /* font-weight: bold; */
            color: var(--color-texto);
        }

        p {
            color: var(--color-texto-secundario);
        }
    }
}

.seccion-features {
    background-color: var(--azul-logo);
    color: white;

    span, p {
        color: inherit !important;
    }
}

.contenedor-razones {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 2rem;
}

.bloque-razon {
    flex: 1;
    text-align: left;
    border: 2px dashed white;  
    border-right: none;
    border-top: none;
    padding: 3rem;
    width: 100%;


    &:nth-child(n+5) {
        border-bottom: none;
    }

    &:nth-child(2n - 1) {
        border-left: none;
    }

    span {
        display: block;
        font-size: 1.35rem;
        font-weight: bold;
        /* color: var(--color-texto); */
        /* color: var(--azul-logo); */
    }

    p {
        font-size: 1.1rem;
    }
}

.tarjetas-tutorial {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1rem;
    margin-top: 2rem;
}

.tarjeta {
    text-align: left;
    color: var(--color-texto);

    & > span {
        display: block;
        border: 1px solid var(--color-borde);
        border-radius: 5px;
        padding: 0.5rem 1rem;
        width: max-content;
        margin-bottom: 0.5rem;
        background: var(--color-blanco);

    }
}

.tarjeta-contenido {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: var(--color-blanco);
    border: 1px solid var(--color-borde);
    padding: 1rem 2rem;
    height: 300px;
    border-radius: 5px;

    /* &:not(:nth-child(4n)) {
        border-right: none;
    } */

    span {
        font-size: 1.25rem;
        font-weight: bold;
    }

    p {
        color: var(--gris-600); 
        margin-top: 0.25rem;
    }

    .img {
        width: 100%;
        height: 150px;
        background-color: var(--color-superficie);
        border: none;
        outline: none;
    }
}

.cta-tutorial {
    display: flex;
    margin-top: 1rem;
    padding: 1rem;
    border: 1px solid var(--color-borde);
    justify-content: space-between;
    border-radius: 5px;
    align-items: center;
    width: 100%;
    background-color: var(--color-blanco);

    div {
        text-align: left;
    }

    span {
        font-weight: bold;
    }

    p {
        color: var(--color-texto-secundario);
    }

    button {
        padding: 0.75rem 1rem;
        font-size: 1.15rem;
        font-weight: bold;
        background-color: var(--azul-logo);
        color: white;
        border: none;
        border-radius: 5px;
    }
}