:root {
    --color-header: white;
}

body {
    background-color: var(--color-fondo);
}

.seccion-servidores {
    padding: 1.5rem 5rem 1.5rem 21.5rem;
}

.contenedor-acciones {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;

    h2 {
        font-size: 1.5rem;
        color: var(--color-texto);
    }

    .boton-crear-servidor {
        display: flex;
        align-items: center;
        column-gap: 0.5rem;
        font-size: inherit;
        color: white;
        font-weight: bold;
        padding: 0.5rem 0.75rem;
        background-color: var(--azul-logo);
        border-radius: 5px;
        border: none;
        cursor: pointer;

        &:hover {
            background-color: color-mix(in srgb, var(--azul-logo) 90%, white);
        }
    }
}

.contenedor-servidores {
    display: grid;
    grid-template-columns: repeat(auto-fill, calc(33% - 1rem));
    gap: 2rem;
}

aside {
    display: block;
    position: fixed;
    width: 20rem;
    padding: 1.5rem 0;
    padding-right: 1.5rem;
    height: calc(100vh - 4rem);
    border-right: 1px solid var(--color-borde);
    background-color: var(--color-header);
    top: 4rem;

    ul {
        list-style: none;

        li {
            padding: 1rem;
            padding-left: 5rem;
            color: var(--color-texto);
            font-weight: 500;
            border-radius: 0 5px 5px 0;
            cursor: pointer;
        }

        li.activo {
            background-color: var(--azul-logo);
            color: white;
        }

        li:hover:not(.activo) {
            background-color: var(--gris-200);
        }

        li:not(:nth-last-child(1)) {
            margin-bottom: 0.5rem;
        }
    }
}

header {
    border-bottom: 1px solid var(--color-borde);
    background-color: var(--color-header);
}

.servidor {
    padding: 1.5rem;
    border: 1px solid var(--color-borde);
    border-radius: 10px;
    background-color: var(--color-card);
    color: var(--color-texto);
    text-decoration: none;
    cursor: pointer;

    .icono-juego {
        width: 3.5rem;
        height: 3.5rem;
        padding: 0.5rem;
        background: var(--gris-300);
        border-radius: 5px;
    }

    .contenedor-metrica {
        margin-bottom: 0.75rem;
    }

    .metricas {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.5rem;

        p {
            display: flex;
            align-items: center;
            column-gap: 0.25rem;
        }
    }

    .informacion-servidor {
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;
    }

    .informacion-juego {
        display: flex;
        align-items: center;
        column-gap: 0.5rem;

        .estado {
            display: flex;
            align-items: center;
            padding: 0.25rem 0.5rem;
            font-size: 0.9rem;
            color: hsl(0, 80%, 53%);
            background-color: hsl(0, 80%, 90%);
            font-weight: bold;
            border-radius: 5px;
            margin-left: auto;

            div {
                background-color: hsl(0, 80%, 53%);
                height: 8px;
                width: 8px;
                border-radius: 99px;
                margin-right: 0.25rem;
            }
        }
    }

    .barra {
        height: 7px;
        width: 100%;
        background-color: var(--gris-300);
        border-radius: 99px;
        overflow: hidden;
    }

    .barra-relleno {
        height: 100%;
        width: 50%;
        background-color: var(--azul-oscuro);
    }

    .botones-accion {
        display: grid;
        grid-template-columns: repeat(2, calc(50% - 0.5rem));
        justify-content: space-between;
        margin-top: 2rem;

        button {
            width: 100%;
            padding: 0.5rem 0;
            font-weight: bold;
            border-radius: 5px;
            border: 1px solid var(--gris-500);
            /* filter: brightness(120%); */
            background: none;
            cursor: pointer;
            justify-content: center;
            column-gap: 0.5rem;

            &:hover {
                filter: brightness(120%);
            }
        }

        button:not([hidden]) {
            display: flex;
            align-items: center;
            column-gap: 0.5rem;
        } 
    }
}