:root {
    --color-header: white;
}

body {
    background-color: var(--color-fondo);
    overflow: hidden;
}

header nav {
    padding: 0.5rem 1.5rem;
    max-width: none;
}

main {
    display: flex;
}

.seccion-servidores {
    padding: 1.5rem;
    width: 100%;
    overflow-y: scroll;
    height: calc(100vh - 4rem);

    & > a {
        text-decoration: none;
    }
}

.contenedor-acciones {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;

    .boton-crear-servidor,
    .boton-cancelar-servidor {
        display: flex;
        align-items: center;
        column-gap: 0.5rem;
        font-size: inherit;
        color: white;
        font-weight: bold;
        padding: 0.5rem 0.75rem;
        background-color: var(--azul-logo);
        border-radius: 5px;
        border: none;
        cursor: pointer;

        &:hover {
            background-color: color-mix(in srgb, var(--azul-logo) 90%, white);
        }

        &:disabled {
            pointer-events: none;
            color: var(--color-texto-secundario);
            background-color: color-mix(in srgb, var(--azul-logo) 50%, hsl(0, 0%, 0%, 0.5));
        }
    }
}

.contenedor-servidores {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

aside {
    position: sticky;
    padding: 1.5rem;
    width: 19rem;
    height: calc(100vh - 4rem);
    border-right: 1px solid var(--color-borde);
    background-color: var(--color-header);
    top: 4rem;

    ul {
        list-style: none;

        li {
            display: flex;
            align-items: center;
            column-gap: 0.5rem;
            color: var(--gris-600);
            font-weight: bold;
            font-size: 1.1rem;
            border-radius: 5px;
            cursor: pointer;

            a {
                width: 100%;
                display: flex;
                align-items: center;
                padding: 0.75rem;
                gap: 0.5rem;
                text-decoration: none;
            }

            .contenedor-svg {
                padding: 0.4rem;
                border-radius: 5px;
                background-color: hsla(216, 25%, 89%, 1);
            }

            svg {
                display: block;
            }
        }

        li.activo {
            background-color: var(--azul-transparente);
            color: var(--azul-logo);

            .contenedor-svg {
                background-color: hsla(216, 100%, 86%, 0.5);
            }
        }

        li:hover:not(.activo) {
            color: var(--color-texto);
            background-color: var(--gris-900);
        }

        li:not(:nth-last-child(1)) {
            margin-bottom: 0.5rem;
        }
    }
}

header {
    border-bottom: 1px solid var(--color-borde);
    background-color: var(--color-header);
}

.servidor {
    border: 1px solid var(--color-borde);
    border-radius: 5px;
    background-color: var(--color-card);
    color: var(--color-texto);
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;

    &:hover {
        border-color: var(--color-borde-hover);

        .informacion-juego::before {
            transform: scale(1.1);
        }
    }

    .informacion-servidor {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1rem;
        /* margin-top: 1rem; */
        width: 100%;
        row-gap: 0.5rem;

        .contenedor-metrica {
            width: 100%;
        }

        .metricas {
            display: flex;
            justify-content: space-between;
            margin-bottom: 0.25rem;
            font-size: 14px;
            color: var(--color-texto-secundario);

            p {
                display: flex;
                align-items: center;
                column-gap: 0.25rem;
            }

            svg {
                width: 16px;
                height: 16px;
            }
        }

        .barra {
            height: 5px;
            width: 100%;
            border-radius: 1px;
            background-color: var(--color-superficie);
            overflow: hidden;
        }

        .barra-relleno {
            height: 100%;
            width: 0%;
            background-color: var(--azul-logo);
        }
    }

    .informacion-juego {
        display: flex;
        position: relative;
        overflow: hidden;
        column-gap: 0.5rem;
        /* background:
            linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
            var(--banner); */
        background-size: cover 100%;
        background-position: center left;
        background-repeat: no-repeat;
        color: white;
        min-height: 7rem;
        padding: 1rem;
        /* border-radius: 5px; */

        .misma-linea {
            margin-top: auto;
            z-index: 1;
        }

        .estado {
            --estado-color-texto: hsl(210, 20%, 80%);
            --estado-color-fondo: hsl(210, 20%, 25%);
            --estado-color-borde: hsl(210, 15%, 55%);

            display: flex;
            align-items: center;
            padding: 0.25rem 0.5rem;
            color: var(--estado-color-texto);
            background-color: var(--estado-color-fondo);
            font-weight: bold;
            border-radius: 3px;
            margin-left: auto;
            margin-bottom: auto;
            border: 1px solid var(--estado-color-borde);
            backdrop-filter: blur(0);

            div {
                background-color: var(--estado-color-texto);
                height: 8px;
                width: 8px;
                border-radius: 99px;
                margin-right: 0.25rem;
            }

            &.stopping {
                --estado-color-texto: hsl(0, 100%, 78%);
                --estado-color-fondo: hsl(0, 70%, 53%);
                --estado-color-borde: hsl(0, 60%, 46%);
            }

            &.online {
                --estado-color-texto: hsl(105, 90%, 75%);
                --estado-color-fondo: hsl(105, 60%, 35%);
                --estado-color-borde: hsl(105, 76%, 50%);
            }

            &.starting {
                --estado-color-texto: hsl(40, 91%, 75%);
                --estado-color-fondo: hsl(40, 60%, 35%, 0.6);
                --estado-color-borde: hsl(40, 76%, 50%);
            }
        }
    }

    .informacion-juego::before {
        content: "";
        position: absolute;
        inset: 0;
        background:
            linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
            var(--banner);
        background-size: cover;
        background-position: center;
        transform: scale(1);
        transition: transform 0.3s ease;
        z-index: 0;
        }

    .botones-accion {
        display: grid;
        grid-template-columns: repeat(2, calc(50% - 0.5rem));
        justify-content: space-between;
        margin-top: 2rem;

        button {
            width: 100%;
            padding: 0.5rem 0;
            font-weight: bold;
            border-radius: 5px;
            border: 1px solid var(--gris-500);
            /* filter: brightness(120%); */
            background: none;
            cursor: pointer;
            justify-content: center;
            column-gap: 0.5rem;

            &:hover {
                filter: brightness(120%);
            }
        }

        button:not([hidden]) {
            display: flex;
            align-items: center;
            column-gap: 0.5rem;
        } 
    }
}

dialog::backdrop {
    background-color: rgba(0,0,0,0.4);
}

#crearServidorModal {
    margin: auto;
    border: 1px solid var(--color-borde);
    border-radius: 5px;
    /* padding: 1rem; */
    /* min-width: 1000px; */
    background: var(--color-superficie);
    font-size: 14px;
}

.form-header {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-superficie-2);
    padding: 1rem;
    border-bottom: 1px solid var(--color-borde);

    .boton-cerrar-crear-servidor {
        display: flex;
        padding: 0.5rem;
        border-radius: 3px;
        background: none;
        border: 1px solid var(--color-borde);
        color: var(--color-texto-secundario);
        cursor: pointer;

        svg {
            width: 1rem;
            height: 1rem;
            pointer-events: none;
            padding: 0;
        }

        &:hover {
            color: var(--color-texto);
        }
    }
}

.form-contenido {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    min-width: 1000px;
    max-width: 90vw;
    column-gap: 2rem;

    max-height: 100%;
    overflow-y: auto;
    padding: 1rem;

    input, select {
        margin-top: 0 !important;
    }

    h3 {
        font-size: 14px;
        color: var(--color-texto-secundario);
        /* margin-bottom: 0.25rem; */
        font-weight: 400;
        text-transform: uppercase;
    }

    .form-seccion {
        display: flex;
        flex-direction: column;
        row-gap: 0.5rem;
    }

    .plan-actual {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem 1rem;
        background-color: var(--color-superficie-2);
        border: 1px solid var(--color-borde);
        border-radius: 5px;
    }

    .caracteristicas-plan {
        display: flex;
        align-items: center;
        column-gap: 1rem;
    }

    .caracteristica {
        display: flex;
        align-items: center;
        column-gap: 0.35rem;
        font-size: 12px;
        color: var(--color-texto-secundario);

        & > div {
            height: 6px;
            width: 6px;
            border-radius: 99px;
            background-color: var(--azul-logo);
        }
    }
}

.seccion-rendimiento {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.input-number-group {
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: 5px;
    border: 1px solid var(--color-borde);
    width: max-content;

    .input-contenedor {
        display: flex;
        align-items: center;
        background-color: var(--color-superficie);

        input[type="text"] {
            padding: 0.5rem;
            font-weight: 500;
            border: none !important;
        }

        button {
            background: none;
            color: var(--color-texto);
            border: none;
            padding: 0.5rem;
            display: flex;
            color: var(--color-texto-secundario);
            cursor: pointer;

            &:hover {
                color: var(--color-texto);
            }

            svg {
                width: 1rem;
                height: 1rem;
                pointer-events: none;
            }
        }
    } 

    & > span {
        background-color: var(--color-superficie-2);
        padding: 0.5rem 0.75rem;
        color: var(--color-texto-secundario);
    }
}

.indicador-rendimiento {
    /* display: flex; */
    /* flex: 1; */
    align-items: center;
    column-gap: 0.5rem;

    .barra-rendimiento {
        flex: 1;
        height: 10px;
        background-color: black;
        border-radius: 1px;
        overflow: hidden;
    }

    .relleno-barra {
        width: 50%;
        height: 100%;
        column-gap: 0.5rem;
        background-color: var(--color-verde-500);
        border-radius: 1px;
        z-index: 1;
    }

    & > small {
        color: var(--color-verde-500);
    }
}

.tooltip-rendimiento {
    color: var(--color-texto-secundario);
}

.seccion-regiones {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

input.region-radio {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    width: 0;
    height: 0;
}

input.region-radio:checked + label.contenedor-region,
label.contenedor-region[for][aria-checked="true"] {
    border-color: var(--azul-logo);
    background-color: color-mix(in srgb, var(--azul-transparente), transparent 50%);
}

.contenedor-region {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem;
    border: 1px solid var(--color-borde);
    width: 100%;
    /* background-color: var(--color-superficie-2); */
    border-radius: 5px;
    cursor: pointer;

    & > div {
        display: flex;
        flex-direction: column;
    }

    &:hover {
        border-color: var(--color-borde-hover);
    }
}

.contenedor-region.seleccionado {
    border-color: var(--azul-logo);
    background-color: color-mix(in srgb, var(--azul-transparente), transparent 50%);
}

.localidad-servidor {
    /* font-size: 12px; */
    color: var(--color-texto-secundario);
}

.medidor-ping {
    font-size: 12px;
    padding: 0.25rem 0.5rem;
    border-radius: 5px;

    &.bajo {
        background-color: color-mix(in srgb, var(--color-verde-900), transparent 50%);
        color: var(--color-verde-400);
    }

    &.medio {
        background-color: color-mix(in srgb, var(--color-amarillo-900), transparent 50%);
        color: var(--color-amarillo-400);
    }

    &.alto {
        background-color: color-mix(in srgb, var(--color-rojo-900), transparent 50%);
        color: var(--color-rojo-400);
    }
}

.form-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-superficie-2);
    padding: 1rem;
    border-top: 1px solid var(--color-borde);

    .boton-crear-servidor,
    .boton-cancelar-servidor {
        padding: 0.4rem 1rem;
    }

    .boton-cancelar-servidor {
        background-color: var(--color-rojo-500);

        &:hover {
            background-color: color-mix(in srgb, var(--color-rojo-500), 20% black);
        }
    }

    p {
        color: var(--color-texto-secundario);
    }

    & > div {
        display: flex;
        column-gap: 0.5rem;
    }
}

.input-misma-linea {
    display: flex;
    justify-content: space-between;
    column-gap: 1rem;

    & > div {
        flex: 1;
    }
}