*, *::after, *::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

:where(textarea),
:where(input[type=text], input[type=search], input[type=password], input[type=url]) {
  appearance: none;
  border-style: solid;
  outline: none;
}

body {
  display: grid;
  place-content: center;
  max-width: 100vw;
  height: 100vh;
}

.logo {
    width: 100%;
    height: 96px;
}

.form-container {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  border-radius: 10px;
}
.form-container h1 {
  text-align: center;
  font-size: 16px;
  margin: 0.75rem 0;
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  /* margin-bottom: 2rem; */
}

.boton-subir {
  width: 100%;
  background: none;
  padding: 0.75rem 0;
  border: 1px solid #cccccc;
  border-radius: 7px;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
}
.boton-subir:hover, .boton-subir:focus {
  border-color: #666666;
}

.boton-azul {
  color: #ffffff;
  background: #115DFC;
  border-color: #115DFC;
}
.boton-azul:hover, .boton-azul:focus {
  background-color: #0539a8;
  border-color: #0539a8;
}

.boton-negro {
  color: #ffffff;
  background: #1c2029;
  border-color: #1c2029;
}
.boton-negro:hover, .boton-negro:focus {
  background-color: #0a0e18;
  border-color: #0a0e18;
}

.icon {
  position: absolute;
  z-index: 99;
  width: 20px;
  height: 20px;
  left: 12px;
  bottom: 9px;
  pointer-events: none;
  color: #666666;
}

.boton-toggle-contrasena {
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  padding: 10px;
  right: 10px;
  bottom: 7px;
  background: none;
  border-color: transparent;
  cursor: pointer;
}
.boton-toggle-contrasena .icon {
  left: 0;
  bottom: 0;
}
.boton-toggle-contrasena:hover .icon {
  color: #222222;
}

div {
  position: relative;
  margin: 1.5rem 0;
}
div label {
  font-size: 0.75rem;
  color: #8B8E98;
  font-weight: 600;
  margin-bottom: 0.5em;
}

input {
  width: 50ch;
  padding-left: 40px;
  padding-right: 40px;
  height: 40px;
  border: 1px solid #e5e5e5;
  border-radius: 7px;
  filter: drop-shadow(0px 1px 0px #efefef) drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
}
input:hover, input:focus {
  border-color: #aaaaaa;
}
input.campo-valido {
  background-color: rgba(163, 255, 163, 0.3);
  border-color: rgba(72, 153, 72, 0.31);
}
input.campo-valido:hover, input.campo-valido:focus {
  border-color: rgba(72, 153, 72, 0.6);
}
input.campo-no-valido {
  background-color: rgba(255, 163, 163, 0.3);
  border-color: rgba(153, 72, 72, 0.31);
}
input.campo-no-valido:hover, input.campo-no-valido:focus {
  border-color: rgba(153, 72, 72, 0.6);
}

.mensaje-form {
  display: block;
  color: #8B8E98;
  text-align: center;
  margin: 1rem 0;
}

.mensaje-form a {
  text-decoration: none;
  color: #113ea0;
}

.mensaje-form a:hover, .mensaje-form a:focus {
  text-decoration: underline;
}

.separador {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  color: #8B8E98;
  margin: 1rem 0;
}

.separador .linea {
  display: block;
  width: 100%;
  height: 1px;
  border: 0;
  background-color: #e8e8e8;
}

.separador small {
  white-space: nowrap;
}

.contenedor-otras-opciones {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

/*# sourceMappingURL=registro.css.map */
