.contenedor-graficos {
    display: flex;
    column-gap: 1.5rem;
}

.contenedor-grafico {
    flex: 1;
    padding: 1rem;
    background-color: var(--color-superficie);
    border: 1px solid var(--color-borde);
    border-radius: 5px;
}

.grafico-header {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

.grafico-titulo {
    font-size: 1.25rem;
    font-weight: bold;
}

.grafico-valor {
    font-size: 1.25rem;
    font-weight: bold;

    small {
        font-size: 1rem;
        font-weight: 500;
        color: var(--color-texto-secundario);
    }
}