@use "main" as *;

button {
    display: block;
    margin: 0 auto;
    padding: 0.75rem 2rem;
    background: black;
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;

    &:hover {
        background-color: white;
        color: black;
        outline: 1px solid black;
    }
}

main {
    section {
        text-align: center;

        h2 {
            font-size: 2.25rem;
        }

        p {
            font-size: 1rem;
        }
    }

    .seccion-presentacion {
        padding: 6rem 10rem 3rem 10rem;
        height: calc(80vh + 3rem);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: $azul-logo;
        
        h1 {
            font-size: 4rem;
            line-height: 4rem;
            color: white;
        }
        
        p {
            margin: 2rem 0;
            color: white;
        }

        & > button {
            font-weight: bold;
            background: none;
            border: 1px solid white;

            svg {
                color: inherit;
            }

            &:hover {
                background-color: white;
                color: $azul-logo;
                outline: none;
            }
        }
        
    }

    .seccion-juegos {
        background-color: $gris-100;
        
        &>p {
            margin-bottom: 2rem;
        }

        .carrusel-juegos {
            overflow: hidden;
            position: relative;

            @mixin white-gradient {
                background: linear-gradient(to right, $gris-100 0%,hsl(0, 0%, 95%, 0) 100%);
            }

            &::before,
            &::after {
                @include white-gradient;
                content: "";
                height: 100%;
                position: absolute;
                width: 200px;
                z-index: 2;
                pointer-events: none;
            }
            
            &::after {
                right: 0;
                top: 0;
                transform: rotateZ(180deg);
            }

            &::before {
                left: 0;
                top: 0;
            }

            @keyframes scroll {
                from { transform: translateX(0); }
                to { transform: translateX(calc((20vw + 2rem) * -5)) }
            }

            .slider {
                $speed: 30s;
                width: calc((20vw + 2rem) * 10);
                display: flex;
                column-gap: 2rem;
                animation: scroll $speed linear infinite;
                animation-play-state: running;
            }

            .slider:hover {
                animation-play-state: paused;
            }

            .juego {
                min-width: 20vw;
                background-color: white;
                border: 1px solid $gris-300;
                border-radius: 10px;
                overflow: hidden;
                text-align: start;
                
                img {
                    width: 100%;
                    height: 30vh;
                    object-fit: cover;
                    object-position: top;
                }

                .informacion-juego {
                    padding: 1rem;
                }

                button {
                    margin: 1rem;
                }
            }
        }
    }

    .seccion-planes {
        .presentacion-planes {
            width: 100%;
            margin-bottom: 2rem;
        }

        .contenedor-planes {
            display: flex;
            justify-content: center;
            column-gap: 2rem;
    
            .plan {
                border: 1px solid $gris-300;
                border-radius: 10px;
                padding: 2rem;
                width: max-content;
                text-align: start;
                transition: 150ms ease-in-out;
    
                ul {
                    margin: 1.5rem 0;
                    list-style: none;

                    li {
                        display: flex;
                        align-items: center;
                        column-gap: 0.25rem;
                    }
                }

                &:hover {
                    box-shadow: 0 0 10px 0px hsl(0, 0%, 70%, 0.25);
                }
            }
        }
    }
}