*, *::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
}

button {
    display: block;
    margin: 0 auto;
    padding: 0.75rem 2rem;
    background: black;
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;

    &:hover {
        background-color: white;
        color: black;
        outline: 1px solid black;
    }
}

header {
    position: fixed;
    width: 100%;
    // border-bottom: 1px solid white;
    padding: 0 10rem;
    background-color: hsl(221, 100%, 50%);
    // box-shadow: 0 0 3px 0 rgb(139, 139, 139);

    img {
        width: 3rem;
        height: 3rem;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.75rem 0;
        column-gap: 2rem;
        font-weight: bold;

        .botones-navegacion {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }

        a {
            text-decoration: none;
            color: white;

            &:hover {
                text-decoration: underline;
            }
        }

        & > * {
            display: flex;
            column-gap: 1rem;
        }
    }
}

main {
    .seccion-presentacion {
        padding: 6rem 10rem 3rem 10rem;
        height: calc(65vh + 3rem);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: hsl(221, 100%, 50%);
        color: white;

        h1 {
            font-size: 3rem;
            line-height: 2.75rem;
        }
        
        p {
            font-size: 1rem;
            margin: 2rem 0;
        }

        & > button {
            font-size: 1.25rem;
            font-weight: bold;
            background: none;
            border: 1px solid white;

            &:hover {
                background-color: white;
                color: hsl(221, 100%, 50%);
                outline: none;
            }
        }
        
    }

    .seccion-planes {
        padding: 3rem 10rem;

        .presentacion-planes {
            width: 100%;
            text-align: center;
            margin-bottom: 2rem;
        }

        .contenedor-planes {
            display: flex;
            justify-content: center;
            column-gap: 2rem;
    
            .plan {
                border: 1px solid #807d7d;
                border-radius: 5px;
                padding: 1.5rem 2rem;
                width: max-content;
    
                ul {
                    margin: 1.5rem 0;
                    list-style: none;
                }
            }
        }
    }

}
