@use "main";

.seccion-titulo {
    background-color: hsl(221, 100%, 50%);

    h2 {
        font-size: 3rem;
        color: white;
    }
}

.contenedor-servidores {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    padding-top: 2rem;
}

.servidor {
    padding: 1rem;
    border: 1px solid #dddddd;
    border-radius: 10px;
    // flex: 1 1 20rem;
    // min-width: 5rem;
    display: grid;
    grid-template-columns: 5rem 10rem 10rem 5rem;
    grid-template-areas:
        "icono-servidor nombre nombre estado"
        "icono-servidor version-juego . ."
        "metrica-jugadores metrica-jugadores metrica-jugadores metrica-jugadores"
        "metrica-cpu metrica-cpu metrica-cpu metrica-cpu"
        "barra-cpu barra-cpu barra-cpu barra-cpu"
        "metrica-ram metrica-ram metrica-ram metrica-ram"
        "barra-ram barra-ram barra-ram barra-ram"  
        "boton-iniciar boton-iniciar boton-configurar boton-configurar";
    column-gap: 0.5rem;

    .icono-servidor { 
        grid-area: icono-servidor;
        margin: auto;
        background-color: hsl(200, 0%, 90%);
        color: #555555;
        padding: 1rem;
        width: 100%;
        border-radius: 10px;
     }
    
    .nombre-servidor { 
        grid-area: nombre;
        padding: 0;
        margin: 0;
     }
    
    .estado { 
        grid-area: estado;
        background-color: rgb(201, 46, 46);
        color: white;
        width: max-content;
        padding: 0.25rem 0.55rem;
        font-size: 0.8rem;
        font-weight: bold;
        border-radius: 10px;
        margin-left: auto;
        margin-bottom: auto;
    }
    
    .version-juego { 
        grid-area: version-juego;
        background-color: rgb(46, 139, 201);
        color: white;
        width: max-content;
        margin-bottom: auto;
        padding: 0.25rem 0.55rem;
        font-size: 0.8rem;
        font-weight: bold;
        border-radius: 5px;
        cursor: pointer;
    }
    
    .metrica-jugadores { 
        grid-area: metrica-jugadores; 
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #888888;

        p {
            display: flex;
            align-items: center;
            column-gap: 0.5rem;
        }
    }
    
    .metrica-cpu { 
        grid-area: metrica-cpu; 
        display: flex; 
        justify-content: space-between;
        align-items: center;
        color: #888888;

        p {
            display: flex;
            align-items: center;
            column-gap: 0.5rem;
        }
    }
    
    .barra-cpu { 
        grid-area: barra-cpu;
        height: 10px;
        width: 100%;
        background-color: #dddddd;
        border-radius: 3px;
        overflow: hidden;
    }
    
    .metrica-ram { 
        grid-area: metrica-ram; 
        display: flex; 
        justify-content: space-between;
        color: #888888;

        p {
            display: flex;
            align-items: center;
            column-gap: 0.5rem;
        }
    }
    
    .barra-ram { 
        grid-area: barra-ram; 
        height: 10px;
        width: 100%;
        background-color: #dddddd;
        border-radius: 3px;
        overflow: hidden;
    }

    .boton-iniciar { grid-area: boton-iniciar; }
    
    .boton-configurar { grid-area: boton-configurar; }
    
    .boton-iniciar, .boton-configurar {
        border-radius: 10px;
        // background-color: hsl(221, 100%, 50%);
        border: 1px solid #333333;
        background: white;
        color: #333333;
        font-weight: bold;
        padding: 0.5rem 1rem;
        cursor: pointer;
    }

    .barra-relleno {
        height: 100%;
        width: 0%;
        background: hsl(210, 100%, 50%);
        transition: width ease-in-out;
    }
}