@use "main";

.seccion-titulo {
    background-color: var(--azul-logo);

    h2 {
        font-size: 3rem;
        color: white;
    }
}

.contenedor-servidores {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    padding-top: 2rem;
}

.servidor {
    // display: grid;
}